<?xml version='1.0' encoding='utf-8'?>
<widget id="com.patmoritas.album" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pat Moritas</name>
    <icon src="img/icon.png"/>
    <description>
        A digital app for 8-bit music from Pat Moritas
    </description>
    <author email="brian.hume@live.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
